<p id="notice"><%= notice %></p>

<h1>Comments</h1>


  <table>
    <thead>
      <tr>
        <th>Author</th>
        <th>Comment entry</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @comments.each do |comment| %>
        <tr>
          <td><%= comment.author %></td>
          <h6><em>written : <%= comment.created_at.in_time_zone.strftime("%b %d, %Y %r") %></em></h6>
          <td><%= comment.comment_entry %></td>
          <td><%= link_to 'Show', comment %></td>
          <% if current_user.id == comment.user.id %>
            <td><%= link_to 'Edit', edit_comment_path(comment) %></td>
            <td><%= link_to 'Destroy', comment, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          <% end %>
          <
        </tr>
      <% end %>
    </tbody>
  </table>


<br>

<%= link_to 'New Comment', new_comment_path %>
