<p id="notice"><%= notice %></p>

  <h3><%= @post.title %></h3>

<p>
  <strong>Author:</strong>
  <%= @post.user.username %>
  <% if @post.user.avatar.blank? %>
     <%= gravatar_tag @post.user.email %>
  <% else %>
     <%= image_tag @post.user.avatar.url, id: "profile_thumb" %>
  <% end %>
</p>

<p>
  <strong>Written:</strong>
  <%= @post.created_at.in_time_zone(current_user.time_zone).strftime("%b %d, %r ") %>
</p>

<p id= "post_show">
   <%= @post.blog_entry %>
</p>

<p>
   <%= image_tag @post.pic.url %>
</p>

<p>
  <%= link_to 'Edit', edit_post_path(@post) %> |
  <%= link_to 'Back', posts_path %>
</p>

<div id="comments">

  <%= render 'comments/form', comment: @comment %>
<br />
  <% @post.comments.each do |comment| %>
    <p>
      <%= image_tag comment.user.avatar.url, id: "profile_thumb" %>
      <%= comment.user.username %> said on <%= comment.created_at.in_time_zone(current_user.time_zone).strftime("%b %d, %r") %><br />
      <%= comment.comment_entry %>
    </p>
  <% end %>

</div>
